<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsAutor</servlet-name>
        <servlet-class>servlets.inserir.InsAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsBibliotecaria</servlet-name>
        <servlet-class>servlets.inserir.InsBibliotecaria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsCategoria</servlet-name>
        <servlet-class>servlets.inserir.InsCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsCliente</servlet-name>
        <servlet-class>servlets.inserir.InsCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsEmprestimo</servlet-name>
        <servlet-class>servlets.inserir.InsEmprestimo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsEstante</servlet-name>
        <servlet-class>servlets.inserir.InsEstante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsExemplar</servlet-name>
        <servlet-class>servlets.inserir.InsExemplar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsLivro</servlet-name>
        <servlet-class>servlets.inserir.InsLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsEditora</servlet-name>
        <servlet-class>servlets.inserir.InsEditora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcAutor</servlet-name>
        <servlet-class>servlets.excluir.ExcAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcBibliotecaria</servlet-name>
        <servlet-class>servlets.excluir.ExcBibliotecaria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcCategoria</servlet-name>
        <servlet-class>servlets.excluir.ExcCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcCliente</servlet-name>
        <servlet-class>servlets.excluir.ExcCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcEditora</servlet-name>
        <servlet-class>servlets.excluir.ExcEditora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcEmprestimo</servlet-name>
        <servlet-class>servlets.excluir.ExcEmprestimo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcEstante</servlet-name>
        <servlet-class>servlets.excluir.ExcEstante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcExemplar</servlet-name>
        <servlet-class>servlets.excluir.ExcExemplar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcLivro</servlet-name>
        <servlet-class>servlets.excluir.ExcLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtlAutor</servlet-name>
        <servlet-class>servlets.atualizar.AtlAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtlBibliotecaria</servlet-name>
        <servlet-class>servlets.atualizar.AtlBibliotecaria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtlCategoria</servlet-name>
        <servlet-class>servlets.atualizar.AtlCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtlCliente</servlet-name>
        <servlet-class>servlets.atualizar.AtlCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtlEditora</servlet-name>
        <servlet-class>servlets.atualizar.AtlEditora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtlEmprestimo</servlet-name>
        <servlet-class>servlets.atualizar.AtlEmprestimo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtlEstante</servlet-name>
        <servlet-class>servlets.atualizar.AtlEstante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtlExemplar</servlet-name>
        <servlet-class>servlets.atualizar.AtlExemplar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtlLivro</servlet-name>
        <servlet-class>servlets.atualizar.AtlLivro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsAutor</servlet-name>
        <url-pattern>/InsAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsBibliotecaria</servlet-name>
        <url-pattern>/InsBibliotecaria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsCategoria</servlet-name>
        <url-pattern>/InsCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsCliente</servlet-name>
        <url-pattern>/InsCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsEmprestimo</servlet-name>
        <url-pattern>/InsEmprestimo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsEstante</servlet-name>
        <url-pattern>/InsEstante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsExemplar</servlet-name>
        <url-pattern>/InsExemplar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsLivro</servlet-name>
        <url-pattern>/InsLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsEditora</servlet-name>
        <url-pattern>/InsEditora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcAutor</servlet-name>
        <url-pattern>/ExcAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcBibliotecaria</servlet-name>
        <url-pattern>/ExcBibliotecaria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcCategoria</servlet-name>
        <url-pattern>/ExcCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcCliente</servlet-name>
        <url-pattern>/ExcCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcEditora</servlet-name>
        <url-pattern>/ExcEditora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcEmprestimo</servlet-name>
        <url-pattern>/ExcEmprestimo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcEstante</servlet-name>
        <url-pattern>/ExcEstante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcExemplar</servlet-name>
        <url-pattern>/ExcExemplar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcLivro</servlet-name>
        <url-pattern>/ExcLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtlAutor</servlet-name>
        <url-pattern>/AtlAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtlBibliotecaria</servlet-name>
        <url-pattern>/AtlBibliotecaria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtlCategoria</servlet-name>
        <url-pattern>/AtlCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtlCliente</servlet-name>
        <url-pattern>/AtlCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtlEditora</servlet-name>
        <url-pattern>/AtlEditora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtlEmprestimo</servlet-name>
        <url-pattern>/AtlEmprestimo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtlEstante</servlet-name>
        <url-pattern>/AtlEstante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtlExemplar</servlet-name>
        <url-pattern>/AtlExemplar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtlLivro</servlet-name>
        <url-pattern>/AtlLivro</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error-404.html</location>
    </error-page>
</web-app>
